<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
</head>

<body>
    <img src="{% static 'Main/img/first.jpg' %}" alt="First book">
    <p>Ця книга надає основи для розуміння HTML та CSS і розвиває навички верстки веб-сторінок</p>

    <img src="{% static 'Main/img/second.jpg' %}" alt="Second book">
    <p>Книга розглядає JavaScript і бібліотеку jQuery, які дозволяють створювати інтерактивні веб-сайти</p>

    <img src="{% static 'Main/img/third.jpg' %}" alt="Third book">
    <p> Книга розглядає методи проектування веб-сайтів, які працюють як на комп'ютерах, так і на мобільних пристроях</p>

    <img src="{% static 'Main/img/fourth.jpg' %}" alt="Fourth book">
    <p>Книга Джеремі Макпіка і Пола Вілтона 'JavaScript. Основи' є чудовим початковим джерелом для тих, хто бажає зрозуміти основи мови програмування JavaScript і розвинути навички веб-розробки.</p>

    <a href="author/">Сторінка автора</a>
    <a href="book/">Сторінка книги</a>

</body>

</html>